@charset "UTF-8";
/**
 * Gradient de couleur sur le TEXTE
 * $direction : direction du gradient (par défaut : de haut vers le bas)
 * $color1 : 1ere couleur du gradient
 * $color2 : 2eme couleur du gradient
 */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.2, 0.8) translateY(0);
  }
  30% {
    transform: scale(0.8, 1.2) translateY(-0.5em);
  }
  50% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.03em);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  margin: 11rem 3% 10rem 3%;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  color: #fdcb46;
  background: #579c87;
  font-family: "Montserrat", sans-serif;
}
.header__logo {
  margin: 0;
  text-align: center;
  font-size: 2.5rem;
  line-height: 2.5em;
  font-weight: 700;
  letter-spacing: -0.1em;
}
@media screen and (min-width: 700px) {
  .header__logo {
    font-size: 4rem;
  }
}

.menu-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 50px;
  max-width: 1200px;
  margin: auto;
}
.menu-list__card {
  width: 350px;
  height: 510px;
  margin: 0 10px 50px 10px;
  box-shadow: 0 0 10px #bbba;
  text-align: center;
  transition: opacity 400ms ease-in-out;
  overflow: hidden;
  z-index: 1;
}
@media screen and (min-width: 700px) {
  .menu-list__card {
    margin: 0 20px 50px 20px;
  }
}
.menu-list__card a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.menu-list__card h2 {
  font-size: 1.9rem;
  font-weight: 400;
}
.menu-list__card p {
  font-size: 2.8rem;
  margin: 0;
}
.menu-list__card .zoom {
  transition: transform 400ms ease-in-out;
}
.menu-list__card:hover .zoom {
  transform: scale(1.15);
}
.menu-list__card:hover {
  opacity: 0.5;
}
.menu-list__card--note {
  background: #fcdfdb;
  color: #3c1218;
}
.menu-list__card--note .fas {
  font-size: 1.5em;
  background-image: linear-gradient(0.25turn, #f04a5e, #f78f6a);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.menu-list__card--note h2 {
  font-family: "Devonshire", cursive;
}
.menu-list__card--note p {
  font-family: "Itim", cursive;
  text-transform: uppercase;
  font-style: italic;
}
.menu-list__card--chic {
  background: #fff5fe;
  color: #c77412;
}
.menu-list__card--chic h2 {
  font-family: "Croissant One", cursive;
  font-size: 1.4em;
  background-image: linear-gradient(0.25turn, #c77412, #905bfd);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.menu-list__card--chic p {
  font-family: "DM Serif Text", serif;
}
.menu-list__card--delice {
  background: #f9f9f9;
  color: #0887fb;
}
.menu-list__card--delice h2 {
  font-family: "Dancing Script", cursive;
  font-size: 2.2em;
  background-image: linear-gradient(0.25turn, #0431df, #0887fb);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.menu-list__card--delice p {
  font-family: "Nanum Pen Script", cursive;
  font-style: italic;
}
.menu-list__card--palette {
  background: #fdfffd;
  color: #72bf56;
}
.menu-list__card--palette h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 2.2em;
  background-image: linear-gradient(0.25turn, #3d9339, #bfff7e);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.menu-list__card--palette p {
  font-family: "Nanum Pen Script", cursive;
  font-style: italic;
}

.coming-soon {
  display: flex;
  justify-content: center;
}
.coming-soon__msg {
  padding: 0.5em 2.2em;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  border-radius: 0.5em;
  color: #fdcb46;
  background: #579c87;
  font-family: "Montserrat", sans-serif;
}
.coming-soon__msg .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #fdcb46;
  border-radius: 50%;
  animation: bounce 2000ms cubic-bezier(0.28, 0.84, 0.42, 1) infinite;
  transform-origin: bottom;
}
.coming-soon__msg .dot--1 {
  animation-delay: 150ms;
}
.coming-soon__msg .dot--2 {
  animation-delay: 300ms;
}
.coming-soon__msg .dot--3 {
  animation-delay: 450ms;
}

.footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 0;
  font-weight: 600;
  font-size: 1.2rem;
  color: #fdcb46;
  background: #579c87;
  font-family: "Montserrat", sans-serif;
}
.footer__list {
  text-align: center;
}
@media screen and (min-width: 700px) {
  .footer__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0.6rem 0;
    font-size: 1.8rem;
  }
}
.footer__list li {
  padding: 0.3em 1.2em;
}
.footer__list li:hover {
  animation: shake 500ms infinite;
}

.menu {
  max-width: 800px;
  margin: auto;
}
.menu h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 2.7rem;
  color: #333;
  margin: 0;
  padding: 0.8em 0;
}
.menu__carte {
  box-shadow: 0 0 10px #bbba;
  padding: 30px 10px;
}
@media screen and (min-width: 700px) {
  .menu__carte {
    padding: 60px 80px;
  }
}
.menu__carte h3 {
  margin: 0;
  text-align: center;
  font-size: 3.4rem;
  font-weight: 400;
}
.menu__carte .course {
  position: relative;
  margin: 75px 0 15px 0;
  text-align: center;
  font-size: 1.7rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.menu__carte .course:first-of-type {
  margin-top: 50px;
}
.menu__carte .course__separator {
  display: inline-block;
  width: 30%;
  height: 1em;
}
.menu__carte .course__separator--after {
  transform: rotate(180deg);
}
.menu__carte .course h4 {
  margin: 0;
  position: relative;
}
.menu__carte .course h4::after {
  content: "";
  position: absolute;
  bottom: -0.3em;
  right: -0.5em;
  left: -0.5em;
  height: 2px;
  border-radius: 2px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: opacity 400ms, transform 600ms;
}
.menu__carte .course:hover > h4::after {
  opacity: 1;
  transform: scaleX(1);
}
.menu__carte table {
  width: 100%;
  font-size: 1.2rem;
}
.menu__carte td {
  padding-top: 1em;
}
.menu__carte td:nth-child(2) {
  text-align: right;
  padding-left: 20px;
  font-size: 1.1em;
}
.menu__carte--note {
  background: #fcdfdb;
  color: #3c1218;
  font-family: "Itim", cursive;
  font-style: italic;
}
.menu__carte--note .fas {
  font-size: 1.5em;
  background-image: linear-gradient(0.25turn, #f04a5e, #f78f6a);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.menu__carte--note h3 {
  font-family: "Devonshire", cursive;
  font-style: normal;
}
.menu__carte--note .course__separator {
  background: center/contain no-repeat url(../img/sep-note.svg);
}
.menu__carte--note .course h4::after {
  background: #f78f6a;
  box-shadow: 0 0 5px #f04a5e;
}
.menu__carte--note .title-bottom {
  margin-top: 50px;
  text-align: center;
  font-family: "Devonshire", cursive;
  font-style: normal;
  font-size: 2.5rem;
}
.menu__carte--note .title-bottom .fas {
  font-size: 1em;
}
.menu__carte--chic {
  background: #fff5fe;
  font-family: "PT Serif", serif;
}
.menu__carte--chic h3 {
  font-family: "Croissant One", cursive;
  font-size: 2.2rem;
  background-image: linear-gradient(0.25turn, #c77412, #905bfd);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.menu__carte--chic .course {
  font-size: 1.3rem;
  font-weight: 700;
}
.menu__carte--chic table {
  font-size: 1.1rem;
}
.menu__carte--chic .course__separator--1 {
  background: center/contain no-repeat url(../img/sep-chic-1.svg);
}
.menu__carte--chic .course:nth-of-type(1) h4 {
  color: #c67412;
}
.menu__carte--chic .course:nth-of-type(1) h4::after {
  background: #c67412;
  box-shadow: 0 0 5px #c67412;
}
.menu__carte--chic table:nth-of-type(1) {
  color: #c67412;
}
.menu__carte--chic .course__separator--2 {
  background: center/contain no-repeat url(../img/sep-chic-2.svg);
}
.menu__carte--chic .course:nth-of-type(2) h4 {
  color: #a56799;
}
.menu__carte--chic .course:nth-of-type(2) h4::after {
  background: #a56799;
  box-shadow: 0 0 5px #a56799;
}
.menu__carte--chic table:nth-of-type(2) {
  color: #a56799;
}
.menu__carte--chic .course__separator--3 {
  background: center/contain no-repeat url(../img/sep-chic-3.svg);
}
.menu__carte--chic .course:nth-of-type(3) h4 {
  color: #6e4ccc;
}
.menu__carte--chic .course:nth-of-type(3) h4::after {
  background: #6e4ccc;
  box-shadow: 0 0 5px #6e4ccc;
}
.menu__carte--chic table:nth-of-type(3) {
  color: #6e4ccc;
}
.menu__carte--delice {
  background: #f9f9f9;
  font-family: "Nanum Pen Script", cursive;
  font-style: italic;
  color: black;
}
.menu__carte--delice h3 {
  font-family: "Dancing Script", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 4rem;
  background-image: linear-gradient(0.25turn, #0431df, #0887fb);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.menu__carte--delice .course {
  font-size: 1.7rem;
}
.menu__carte--delice .course__separator--after {
  transform: scaleX(-1);
}
.menu__carte--delice table {
  font-size: 1.5rem;
}
.menu__carte--delice td {
  padding-top: 0.3em;
}
.menu__carte--delice .course__separator--1 {
  background: center/contain no-repeat url(../img/sep-delice-1.svg);
}
.menu__carte--delice .course:nth-of-type(1) h4::after {
  background: #0228dd;
  box-shadow: 0 0 5px #0228dd;
}
.menu__carte--delice .course__separator--2 {
  background: center/contain no-repeat url(../img/sep-delice-2.svg);
}
.menu__carte--delice .course:nth-of-type(2) h4::after {
  background: #0670f3;
  box-shadow: 0 0 5px #0670f3;
}
.menu__carte--delice .course__separator--3 {
  background: center/contain no-repeat url(../img/sep-delice-3.svg);
}
.menu__carte--delice .course:nth-of-type(3) h4::after {
  background: #229df9;
  box-shadow: 0 0 5px #229df9;
}
.menu__carte--palette {
  background: #fdfffd;
  color: black;
  font-family: "Itim", cursive;
  font-style: italic;
}
.menu__carte--palette h3 {
  font-family: "Kaushan Script", cursive;
  font-style: normal;
  background-image: linear-gradient(0.25turn, #3d9339, #bfff7e);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.menu__carte--palette .course__separator {
  background: center/contain no-repeat url(../img/sep-palette.svg);
}
.menu__carte--palette .course h4 {
  font-size: 1.3rem;
}
.menu__carte--palette .course h4::after {
  background: #72bf56;
  box-shadow: 0 0 5px #72bf56;
}

.legal {
  padding: 0 5%;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  color: #333;
}

/*# sourceMappingURL=style.css.map */
