@charset "UTF-8";
/**
 * Gradient de couleur sur le TEXTE
 * $direction : direction du gradient (par défaut : de haut vers le bas)
 * $color1 : 1ere couleur du gradient
 * $color2 : 2eme couleur du gradient
 */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.2, 0.8) translateY(0);
  }
  30% {
    transform: scale(0.8, 1.2) translateY(-0.5em);
  }
  50% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.03em);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

main {
  display: block;
  margin: 5rem 3% 8rem 3%;
}
@media screen and (min-width: 700px) {
  main {
    margin: 8rem 3% 8rem 3%;
  }
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  color: #fdcb46;
  background: #579c87;
  font-family: "Montserrat", sans-serif;
}
.header__logo {
  margin: 0;
  text-align: center;
  font-size: 2rem;
  line-height: 2.5em;
  font-weight: 700;
  letter-spacing: -0.1em;
}
@media screen and (min-width: 700px) {
  .header__logo {
    font-size: 3rem;
  }
}

.menu-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 50px;
  max-width: 1200px;
  margin: auto;
}
.menu-list__card {
  width: 350px;
  height: 510px;
  margin: 0 10px 50px 10px;
  box-shadow: 0 0 10px #bbba;
  text-align: center;
  transition: opacity 400ms ease-in-out;
  overflow: hidden;
  z-index: 1;
}
@media screen and (min-width: 700px) {
  .menu-list__card {
    margin: 0 20px 50px 20px;
  }
}
.menu-list__card a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.menu-list__card h2 {
  font-size: 1.9rem;
  font-weight: 400;
}
.menu-list__card p {
  font-size: 2.8rem;
  margin: 0;
}
.menu-list__card .zoom {
  transition: transform 400ms ease-in-out;
}
.menu-list__card:hover .zoom {
  transform: scale(1.15);
}
.menu-list__card:hover {
  opacity: 0.5;
}
.menu-list__card--note {
  background: #fcdfdb;
  color: #3c1218;
}
.menu-list__card--note .fas {
  font-size: 1.5em;
  background-image: linear-gradient(0.25turn, #f04a5e, #f78f6a);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.menu-list__card--note h2 {
  font-family: "Devonshire", cursive;
}
.menu-list__card--note p {
  font-family: "Itim", cursive;
  text-transform: uppercase;
  font-style: italic;
}
.menu-list__card--chic {
  background: #fff5fe;
  color: #c77412;
}
.menu-list__card--chic h2 {
  font-family: "Croissant One", cursive;
  font-size: 1.4em;
  background-image: linear-gradient(0.25turn, #c77412, #905bfd);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.menu-list__card--chic p {
  font-family: "DM Serif Text", serif;
}
.menu-list__card--delice {
  background: #f9f9f9;
  color: #0887fb;
}
.menu-list__card--delice h2 {
  font-family: "Dancing Script", cursive;
  font-size: 2.2em;
  background-image: linear-gradient(0.25turn, #0431df, #0887fb);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.menu-list__card--delice p {
  font-family: "Nanum Pen Script", cursive;
  font-style: italic;
}
.menu-list__card--palette {
  background: #fdfffd;
  color: #72bf56;
}
.menu-list__card--palette h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 2.2em;
  background-image: linear-gradient(0.25turn, #3d9339, #bfff7e);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.menu-list__card--palette p {
  font-family: "Nanum Pen Script", cursive;
  font-style: italic;
}

.coming-soon {
  display: flex;
  justify-content: center;
}
.coming-soon__msg {
  padding: 0.7em 2.2em;
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 0.5em;
  color: #fdcb46;
  background: #579c87;
  font-family: "Montserrat", sans-serif;
}
@media screen and (min-width: 700px) {
  .coming-soon__msg {
    font-size: 1.6rem;
  }
}
.coming-soon__msg .dot {
  display: inline-block;
  width: 7px;
  height: 7px;
  background: #fdcb46;
  border-radius: 50%;
  animation: bounce 2000ms cubic-bezier(0.28, 0.84, 0.42, 1) infinite;
  transform-origin: bottom;
}
@media screen and (min-width: 700px) {
  .coming-soon__msg .dot {
    width: 10px;
    height: 10px;
  }
}
.coming-soon__msg .dot--1 {
  animation-delay: 150ms;
}
.coming-soon__msg .dot--2 {
  animation-delay: 300ms;
}
.coming-soon__msg .dot--3 {
  animation-delay: 450ms;
}

.footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.4rem 0;
  font-weight: 600;
  font-size: 1.1rem;
  color: #fdcb46;
  background: #579c87;
  font-family: "Montserrat", sans-serif;
}
.footer__list {
  text-align: center;
}
@media screen and (min-width: 700px) {
  .footer__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0.5rem 0;
    font-size: 1.4rem;
  }
}
.footer__list a {
  display: block;
  padding: 0.3em 1.2em;
}
.footer__list a:hover {
  animation: shake 500ms infinite;
}

.menu {
  max-width: 800px;
  margin: auto;
}
.menu h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 2.7rem;
  color: #333;
  margin: 0;
  padding: 0.8em 0;
}
.menu__carte {
  box-shadow: 0 0 10px #bbba;
  padding: 30px 10px;
}
@media screen and (min-width: 700px) {
  .menu__carte {
    padding: 60px 80px;
  }
}
.menu__carte h3 {
  margin: 0;
  text-align: center;
  font-size: 3.4rem;
  font-weight: 400;
}
.menu__carte .course {
  position: relative;
  margin: 75px 0 15px 0;
  text-align: center;
  font-size: 1.7rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.menu__carte .course:first-of-type {
  margin-top: 50px;
}
.menu__carte .course__separator {
  display: inline-block;
  width: 30%;
  height: 1em;
}
.menu__carte .course__separator--after {
  transform: rotate(180deg);
}
.menu__carte .course h4 {
  margin: 0;
  position: relative;
}
.menu__carte .course h4::after {
  content: "";
  position: absolute;
  bottom: -0.3em;
  right: -0.5em;
  left: -0.5em;
  height: 2px;
  border-radius: 2px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: opacity 400ms, transform 600ms;
}
.menu__carte .course:hover > h4::after {
  opacity: 1;
  transform: scaleX(1);
}
.menu__carte table {
  width: 100%;
  font-size: 1.2rem;
}
.menu__carte td {
  padding-top: 1em;
}
.menu__carte td:nth-child(2) {
  text-align: right;
  padding-left: 20px;
  font-size: 1.1em;
}
.menu__carte--note {
  background: #fcdfdb;
  color: #3c1218;
  font-family: "Itim", cursive;
  font-style: italic;
}
.menu__carte--note .fas {
  font-size: 1.5em;
  background-image: linear-gradient(0.25turn, #f04a5e, #f78f6a);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.menu__carte--note h3 {
  font-family: "Devonshire", cursive;
  font-style: normal;
}
.menu__carte--note .course__separator {
  background: center/contain no-repeat url(../img/sep-note.svg);
}
.menu__carte--note .course h4::after {
  background: #f78f6a;
  box-shadow: 0 0 5px #f04a5e;
}
.menu__carte--note .title-bottom {
  margin-top: 50px;
  text-align: center;
  font-family: "Devonshire", cursive;
  font-style: normal;
  font-size: 2.5rem;
}
.menu__carte--note .title-bottom .fas {
  font-size: 1em;
}
.menu__carte--chic {
  background: #fff5fe;
  font-family: "PT Serif", serif;
}
.menu__carte--chic h3 {
  font-family: "Croissant One", cursive;
  font-size: 2.2rem;
  background-image: linear-gradient(0.25turn, #c77412, #905bfd);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.menu__carte--chic .course {
  font-size: 1.3rem;
  font-weight: 700;
}
.menu__carte--chic table {
  font-size: 1.1rem;
}
.menu__carte--chic .course__separator--1 {
  background: center/contain no-repeat url(../img/sep-chic-1.svg);
}
.menu__carte--chic .course:nth-of-type(1) h4 {
  color: #c67412;
}
.menu__carte--chic .course:nth-of-type(1) h4::after {
  background: #c67412;
  box-shadow: 0 0 5px #c67412;
}
.menu__carte--chic table:nth-of-type(1) {
  color: #c67412;
}
.menu__carte--chic .course__separator--2 {
  background: center/contain no-repeat url(../img/sep-chic-2.svg);
}
.menu__carte--chic .course:nth-of-type(2) h4 {
  color: #a56799;
}
.menu__carte--chic .course:nth-of-type(2) h4::after {
  background: #a56799;
  box-shadow: 0 0 5px #a56799;
}
.menu__carte--chic table:nth-of-type(2) {
  color: #a56799;
}
.menu__carte--chic .course__separator--3 {
  background: center/contain no-repeat url(../img/sep-chic-3.svg);
}
.menu__carte--chic .course:nth-of-type(3) h4 {
  color: #6e4ccc;
}
.menu__carte--chic .course:nth-of-type(3) h4::after {
  background: #6e4ccc;
  box-shadow: 0 0 5px #6e4ccc;
}
.menu__carte--chic table:nth-of-type(3) {
  color: #6e4ccc;
}
.menu__carte--delice {
  background: #f9f9f9;
  font-family: "Nanum Pen Script", cursive;
  font-style: italic;
  color: black;
}
.menu__carte--delice h3 {
  font-family: "Dancing Script", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 4rem;
  background-image: linear-gradient(0.25turn, #0431df, #0887fb);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.menu__carte--delice .course {
  font-size: 1.7rem;
}
.menu__carte--delice .course__separator--after {
  transform: scaleX(-1);
}
.menu__carte--delice table {
  font-size: 1.5rem;
}
.menu__carte--delice td {
  padding-top: 0.3em;
}
.menu__carte--delice .course__separator--1 {
  background: center/contain no-repeat url(../img/sep-delice-1.svg);
}
.menu__carte--delice .course:nth-of-type(1) h4::after {
  background: #0228dd;
  box-shadow: 0 0 5px #0228dd;
}
.menu__carte--delice .course__separator--2 {
  background: center/contain no-repeat url(../img/sep-delice-2.svg);
}
.menu__carte--delice .course:nth-of-type(2) h4::after {
  background: #0670f3;
  box-shadow: 0 0 5px #0670f3;
}
.menu__carte--delice .course__separator--3 {
  background: center/contain no-repeat url(../img/sep-delice-3.svg);
}
.menu__carte--delice .course:nth-of-type(3) h4::after {
  background: #229df9;
  box-shadow: 0 0 5px #229df9;
}
.menu__carte--palette {
  background: #fdfffd;
  color: black;
  font-family: "Itim", cursive;
  font-style: italic;
}
.menu__carte--palette h3 {
  font-family: "Kaushan Script", cursive;
  font-style: normal;
  background-image: linear-gradient(0.25turn, #3d9339, #bfff7e);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.menu__carte--palette .course__separator {
  background: center/contain no-repeat url(../img/sep-palette.svg);
}
.menu__carte--palette .course h4 {
  font-size: 1.3rem;
}
.menu__carte--palette .course h4::after {
  background: #72bf56;
  box-shadow: 0 0 5px #72bf56;
}

.legal {
  padding: 0 5%;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  color: #333;
}

/*# sourceMappingURL=style.css.map */
