@import "./utils/variables";
@import "./utils/mixins";
@import "./vendors/normalize";
@import "./base/general";
@import "./components/buttons";
@import "./layout/header";
@import "./layout/menu-list";
@import "./layout/coming-soon";
@import "./layout/footer";

/*
Goolge Fonts:
font-family: 'Dancing Script', cursive;
font-family: 'Devonshire', cursive;
font-family: 'DM Serif Text', serif;
font-family: 'Itim', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Kurale', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nanum Pen Script', cursive;
*/
