.footer {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5em 0;
    font-weight: 600;
    font-size: 1.8rem;
    @include headerStyle;

    &__list {
        text-align: center;
        @include desktop-only {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        li {
            padding: 0.3em 1.2em;
            &:hover {
                animation: shake 0.5s infinite;
            }
        }
    }
}