.menu-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 50px;
    max-width: 1200px;
    margin: auto;

    &__card {
        width: 350px;
        height: 510px;
        margin: 0 10px 50px 10px;
        box-shadow: 0 0 10px #bbba;
        text-align: center;
        // Media Querry : en desktop
        @include desktop-only {
            margin: 0 20px 50px 20px;
        }
        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;   
        }
        h2 {
            font-size: 1.9rem;
            line-height: 1.9em;
            font-weight: 400;
            margin: 15px 0;
        }
        p {
            font-size: 2.8rem;
            margin: 0;
        }

        // Animation : opacité pour toute la carte, et scale uniquement pour la div "zoom" dans la carte
        transition: opacity 400ms ease-in-out;
        overflow: hidden; // pour ne pas dépasser de la carte lors du scale
        z-index: 1; // pour rester SOUS les header et footer...
        .zoom {
            transition: transform 400ms ease-in-out;
        }
        &:hover .zoom {
            transform: scale(1.15);
        }
        &:hover {
            opacity: 0.5;
        }

        // Menu de "La note enchantée"
        &--note {
            background: $color-note-bg;
            color: $color-note-txt;
            .fas {
                font-size: 1.5em;
                @include textGradient(0.25turn, $color-note-grad1, $color-note-grad2);
            }
            h2 {
                font-family: 'Devonshire', cursive;
            }
            p {
                font-family: 'Itim', cursive;
                text-transform: uppercase;
                font-style: italic;
            }
        }

        // Menu de "Le chic à la Française"
        &--chic {
            background: $color-chic-bg;
            color: $color-chic-txt;
            h2 {
                font-family: 'Croissant One', cursive;
                font-size: 1.4em;
                @include textGradient(0.25turn, $color-chic-grad1, $color-chic-grad2);
            }
            p {
                font-family: 'DM Serif Text', serif;
            }
        }

        // Menu de "Le délice des papilles"
        &--delice {
            background: $color-delice-bg;
            color: $color-delice-txt;
            h2 {
                font-family: 'Dancing Script', cursive;
                font-size: 2.2em;
                @include textGradient(0.25turn, $color-delice-grad1, $color-delice-grad2);
            }
            p {
                font-family: 'Nanum Pen Script', cursive;
                font-style: italic;
            }
        }

        // Menu de "La palette du goût"
        &--palette {
            background: $color-palette-bg;
            color: $color-palette-txt;
            h2 {
                font-family: 'Kaushan Script', cursive;
                font-size: 2.2em;
                @include textGradient(0.25turn, $color-palette-grad1, $color-palette-grad2);
            }
            p {
                font-family: 'Nanum Pen Script', cursive;
                font-style: italic;
            }
        }
    }
}