.menu {
    max-width: 800px;
    margin: auto;

    // Nom du restaurant HORS de la carte
    h2 {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 2.7rem;
        color: $color-p;
        margin: 0;
        padding: 0.8em 0;
    }
    &__carte {
        box-shadow: 0 0 10px #bbba;
        padding: 30px 10px;
        @include desktop-only {
            padding: 60px 80px;
        }
        // Nom du restaurant DANS la carte
        h3 {
            margin: 0;
            text-align: center;
            font-size: 3.4rem;
            font-weight: 400;
        }
        // Titre : entrée/plat/dessert
        .course { 
            position: relative;
            margin: 75px 0 0 0;
            text-align: center;
            font-size: 1.7rem;
            &:first-of-type {
                margin-top: 50px;
            }
            // séparateurs SVG avant et après le titre :
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            &__separator {
                display: inline-block;
                width: 30%;
                height: 1em;
                &--after {
                    transform: rotate(180deg);
                }
            }
            // soulignement animé du h4 au hover :
            h4 {
                margin: 0;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -0.2em;
                    right: -0.5em;
                    left: -0.5em;
                    height: 2px;
                    border-radius: 2px;
                    opacity: 0;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: opacity 400ms, transform 600ms;
                }
            }
            &:hover > h4::after {
                opacity: 1;
                transform: scaleX(1);
            }
        }

        table {
            width: 100%;
            font-size: 1.2rem;
        }
        td {
            padding-top: 1em;
            &:nth-child(2) {
                text-align: right;
                padding-left: 20px;
                font-weight: bold;
                font-size: 1.1em;
            }
        }
        
        &--note {
            background: $color-note-bg;
            color: $color-note-txt;
            font-family: 'Itim', cursive;
            font-style: italic;
            .fas {
                font-size: 1.5em;
                @include textGradient(0.25turn, $color-note-grad1, $color-note-grad2);
            }
            h3 {
                font-family: 'Devonshire', cursive;
                font-style: normal;
            }
            .course {
                &__separator {
                    background: center / contain no-repeat url(../img/sep-note.svg);
                }
                h4::after {
                    background: $color-note-grad2;
                    box-shadow: 0 0 5px $color-note-grad1;
                }
            }
            .title-bottom {
                margin-top: 50px;
                text-align: center;
                font-family: 'Devonshire', cursive;
                font-style: normal;
                font-size: 2.5rem;
                .fas {
                    font-size: 1em;
                }
            }
        }
    }
}